* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background-color: rgb(37, 37, 37);
}
@media screen and (max-width: 1000px) {
  body {
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(54, 54, 54);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 191, 0);
  border-radius: 5px;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgb(37, 37, 37);
  z-index: 0;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  section {
    width: 95vw;
  }
}

section article {
  position: absolute;
  right: -500%;
  width: 100%;
  height: 100vh;
  background: rgb(37, 37, 37);
  transition: 1s;
  overflow: auto;
}

.show {
  position: relative;
  right: 0%;
}

.title {
  position: relative;
  font-size: 2em;
  padding-bottom: 25px;
  white-space: nowrap;
  color: white;
}
.title::before {
  content: "";
  position: absolute;
  bottom: 10%;
  width: 50%;
  height: 5px;
  background-color: rgb(255, 191, 0);
}
.title::after {
  content: "";
  position: absolute;
  bottom: -10%;
  width: 25%;
  height: 5px;
  background-color: rgb(255, 191, 0);
}

header {
  display: grid;
  grid-template-rows: 15% 20% 65%;
  width: 35vw;
  height: 100vh;
  background: rgb(49, 49, 49);
  font-family: "Verdana", sans-serif;
  border-right: 2px solid rgb(55, 55, 55);
  z-index: 2;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  header {
    width: 100vw;
    height: 120vh;
    position: absolute;
    top: -200%;
    transition: 1s;
  }
}

.slide-on {
  top: 0;
}

header .logo {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: flex-end;
  color: white;
}

header .logo h1 {
  font-family: "Verdana", sans-serif;
  position: relative;
  padding: 20px;
}
header .logo h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid rgb(255, 191, 0);
  border-left: 5px solid rgb(255, 191, 0);
}
header .logo h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-top: 5px solid rgb(255, 191, 0);
  border-right: 5px solid rgb(255, 191, 0);
}

header .network-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .network-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 15px;
}
header .network-container ul li {
  box-shadow: 0px 0px 3px 3px rgb(34, 34, 34);
  border-radius: 50px;
}
header .network-container ul li a {
  display: block;
  color: white;
  font-size: 1.8em;
  padding: 5px 10px;
}
header .network-container ul li a:hover {
  color: rgb(255, 191, 0);
}
@media screen and (max-width: 1500px) {
  header .network-container ul li a {
    font-size: 1.2em;
  }
}
header .network-container ul li:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

header nav {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: flex-start;
}
header nav li {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-bottom: 25px;
}
header nav li a {
  display: flex;
  justify-content: center;
  padding: 25px 40px;
  position: relative;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  position: relative;
  width: 100%;
}
header nav li a:hover {
  color: rgb(255, 191, 0);
}
header nav li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid grey;
  width: 100%;
  height: 2px;
}
@media screen and (max-width: 1500px) {
  header nav li a {
    font-size: 1em;
  }
}
header nav li .linked {
  color: rgb(255, 191, 0);
}

.home {
  display: grid;
  grid-template-columns: 50% 50%;
  color: white;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 1000px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

.presentation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2vw;
  padding: 7%;
}

.presentation-container h1:nth-child(1) {
  font-size: 2.5em;
}
.presentation-container h1:nth-child(1) span {
  white-space: nowrap;
  color: rgb(255, 191, 0);
}
@media screen and (max-width: 1000px) {
  .presentation-container h1:nth-child(1) {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1024px) {
  .presentation-container h1:nth-child(1) {
    font-size: 3vw;
  }
}

.presentation-container h1:nth-child(2) {
  font-size: 2em;
}
.presentation-container h1:nth-child(2) .typing {
  color: rgb(255, 191, 0);
  position: relative;
  white-space: nowrap;
}
.presentation-container h1:nth-child(2) .typing::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: rgb(255, 191, 0);
  animation: blink_bar 1s infinite;
}
@media screen and (max-width: 1000px) {
  .presentation-container h1:nth-child(2) {
    font-size: 4vw;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1024px) {
  .presentation-container h1:nth-child(2) {
    font-size: 2vw;
  }
}

@keyframes blink_bar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.presentation-container p {
  font-size: 1.3em;
}
@media screen and (max-width: 1000px) {
  .presentation-container p {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1024px) {
  .presentation-container p {
    font-size: 2vw;
  }
}

.presentation-container button {
  font-family: "Roboto", sans-serif;
  padding: 25px;
  background-color: rgb(255, 191, 0);
  font-size: 1.1em;
  border: none;
  border-radius: 50px;
  margin-top: 3.5vw;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .presentation-container button {
    padding: 4vw;
    font-size: 4vw;
  }
}

.photo-container {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
}

.photo {
  position: relative;
  padding: 10%;
}
.photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5vw;
  height: 5vw;
  border-top: 1vw solid rgb(255, 191, 0);
  border-left: 1vw solid rgb(255, 191, 0);
}
.photo::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5vw;
  height: 5vw;
  border-bottom: 1vw solid rgb(255, 191, 0);
  border-right: 1vw solid rgb(255, 191, 0);
}
@media screen and (max-width: 1000px) {
  .photo img {
    width: 30vw;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1024px) {
  .photo img {
    width: 25vw;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  padding: 3.5vw;
  color: white;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 1000px) {
  .about {
    padding-left: 20px;
    width: 100vw;
  }
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  .profile-container {
    align-items: center;
  }
}

.profile-name {
  font-size: 1.5em;
}
.profile-name span {
  color: rgb(255, 191, 0);
}

.profile-description {
  font-size: 1.3em;
  font-weight: normal;
  color: lightgray;
}

.info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1360px) {
  .info-container {
    flex-direction: column-reverse;
    gap: 50px;
    width: 100%;
  }
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 75px;
}

.profile-info-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .profile-info-list {
    flex-direction: column;
  }
}

.profile-info-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  list-style: none;
  font-size: 1.3em;
}
.profile-info-list ul li {
  position: relative;
  padding: 10px;
  width: 100%;
}
.profile-info-list ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(75, 75, 75);
}
.profile-info-list ul li span {
  color: rgb(132, 132, 132);
  white-space: nowrap;
}

.profile-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.profile-cv button {
  background-color: rgb(255, 191, 0);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.profile-cv button a {
  display: block;
  font-size: 1.2em;
  padding: 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.skill-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.skill-bar {
  width: 300px;
  height: 25px;
  background: rgb(57, 57, 57);
  border-radius: 10px;
}

.skill-progress {
  height: 25px;
  background: rgb(255, 191, 0);
  border-radius: 10px;
}

.career-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
  margin-top: 50px;
}
@media screen and (max-width: 1000px) {
  .career-container {
    flex-direction: column;
  }
}

.career-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 25px;
}

.career-title {
  font-size: 25px;
}

.career-card .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  background-color: grey;
  border-radius: 10px;
  padding: 30px;
  gap: 30px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 15px;
  font-size: 1vw;
  padding-left: 30px;
  border-left: 5px solid rgb(255, 191, 0);
}
.card-content::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(255, 191, 0);
}
@media screen and (max-width: 1280px) {
  .card-content {
    font-size: 20px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 80px;
  color: white;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 700px) {
  .project {
    padding: 10px;
  }
}

.project-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  padding: 100px 30px;
}

.project-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 350px;
  aspect-ratio: 1/1;
  background: rgb(49, 49, 49);
  border-radius: 10px;
  border: 2px solid rgb(255, 191, 0);
  box-shadow: rgba(255, 174, 0, 0.2) 0px 2px 8px 0px;
  cursor: default;
}
.project-box h1 {
  font-size: 40px;
}
.project-box h2 {
  font-size: 23px;
}
.project-box p {
  font-size: 20px;
}
.project-box button {
  background-color: rgb(255, 191, 0);
  border: none;
  border-radius: 50px;
  margin-top: 25px;
}
.project-box button a {
  display: block;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 700px) {
  .project-box {
    padding: 10px 25px;
  }
  .project-box p {
    font-size: 17px;
  }
}

.nav-bar-container {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  background: rgb(49, 49, 49);
  border: 2px solid rgb(27, 27, 27);
  cursor: pointer;
  z-index: 3;
}
@media screen and (max-width: 1000px) {
  .nav-bar-container {
    display: flex;
    flex-direction: columns;
    justify-content: center;
    align-items: center;
  }
}

.bottom-bar, .center-bar, .top-bar {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: rgb(255, 191, 0);
  transition: 1s;
}

.top-bar {
  top: 12px;
}

.center-bar {
  top: 22px;
}

.bottom-bar {
  bottom: 11px;
}

.nav-bar-container.is-open .top-bar {
  transform: rotate(45deg) translateY(7px) translateX(7px);
  width: 35px;
}

.nav-bar-container.is-open .center-bar {
  transform: translateX(-200px);
  opacity: 0;
}

.nav-bar-container.is-open .bottom-bar {
  transform: rotate(-45deg) translateY(-7px) translateX(7px);
  width: 35px;
}

.veille {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px;
  font-family: "Roboto", sans-serif;
}

.under-title {
  color: rgb(255, 191, 0);
}

.technologie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  color: white;
}

.technologie-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.technologie-content p {
  font-size: 20px;
}