//? POLICE

$first_color: white;
$second_color : rgb(255, 191, 0);
$roboto : 'Roboto', sans-serif;
$brush : 'Water Brush', cursive;

//? BACKGROUND

$first_background : rgba(34,34,34,255);
$second_background : #272727;