//? POLICE

$first_color: white;
$second_color : rgb(255, 191, 0);
$roboto : 'Roboto', sans-serif;
$verdana : 'Verdana', sans-serif;

//? BACKGROUND

$first_background : rgb(49, 49, 49);
$second_background : rgb(37, 37, 37);